:root {
  --font-family-primary: "Lato";
  --color-primary: #000;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-size: 16px;
}

/* header */
header {
  box-shadow: 0 0px 9px -4px #000;
  margin-bottom: 40px;
}
a{
  text-decoration: none;
}

/* MUI container */
.MuiContainer-root{
  padding-left: 22px;
  padding-right: 22px;
}
