<!-- views/events-new.handlebars -->

<div class="col-lg-6 offset-lg-3">
    <form method="POST" action="/events" enctype="multipart/form-data">
        <fieldset>
            <legend>New Event</legend>
                {{> events-form }}
        </fieldset>
        <p><a class="btn btn-alert" href="/">cancel</a></p>
        <p><button type="submit">Save Event</button></p>
    </form>
</div>